<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OracleDB"
			 connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=xepdb1)));User Id=system;Password=admin;"
			 providerName="Oracle.ManagedDataAccess.Client" />
	</connectionStrings>
</configuration>
